* {
    margin: 0;
}

/*header section*/
.up-header {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1600px;
    height: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    text-align: right;
    color: #151414;
    font-weight: 700;
    font-size: 65px;
    padding: 216px 230PX 0PX 845PX;
    margin-bottom: 24PX;
}

.header-discription {
    color: #444343;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 230PX 40PX 845PX;
}

.header-btn {
    padding: 0px 230PX 40PX 1250PX;
    border: 1px;
    border-radius: 5px;
    font-size: 20px;
}

/* plan-a styles */

.plan-a-container {
    display: flex;
    justify-content: space-around;
    margin-right: 300px;

}

.profile {
    margin-left: 50px;
    margin-top: 150px;


}

.full-container {}

.plan-a-title {
    margin-top: 370px;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}

.plan-a-text {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    color: #444343;
    margin-bottom: 20px;

}

ul {
    list-style: none;
}

ul li:before {
    content: '✓';
}

/* what-i-do */

.what-i-do {
    margin-top: 100px;

}

.section-title {
    text-align: center;
    margin-bottom: 55px;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}

.Plan-b-container {
    display: flex;
    gap: 80px;
    margin-left: 200px;
    margin-right: 250;
}

.Plan-b-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
}

.Plan-b-sub-title {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 25px;
}

/* social-work */
.social-work {
    margin-top: 130px;

}

.social-container {
    display: flex;
    gap: 24px;
}

.social {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
}

.social-title {
    color: #181818;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.social-description {
    color: #757575;
    font-weight: 700;
    font-size: 20px;
    font-size: 16px;


}

.section-title {
    margin-top: 130px;
    text-align: center;
}

.Contact {
    margin-top: 140px;
    margin-left: 230px;
    background-image: url('../images/gradient2.png'), url(../images/watch.png);
    ba background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    border-radius: 8px;
    background-repeat: no-repeat, no-repeat;
    border-radius: 8px;
    width: 1600px;
    height: 900px;

}

.c-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    width: 459px;
    height: 94px;
    padding-top: 60px;
    padding-left: 60px;

}
.c-btn{
color: #F15B22
ont-weight: 600;
font-size: 20px;
text-align: center;
margin-bottom: 60px;
margin-left: 60px;
margin-top: 25px;

mar

}