* {
    margin: 0;
}

/*header section*/
.up-header {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1600px;
    height: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    text-align: right;
    color: #151414;
    font-weight: 700;
    font-size: 65px;
    padding: 216px 230PX 0PX 845PX;
    margin-bottom: 24PX;
}

.header-discription {
    color: #444343;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 230PX 40PX 845PX;
}

.header-btn {
    padding: 0px 230PX 40PX 1250PX;
    border: 1px;
    border-radius: 5px;
    font-size: 20px;
}

/* plan-a styles */

.plan-a-container {
    display: flex;
    justify-content: space-around;
    margin-right: 300px;

}

.profile {
    margin-left: 50px;
    margin-top: 150px;


}

.full-container {}

.plan-a-title {
    margin-top: 370px;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}

.plan-a-text {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    color: #444343;
    margin-bottom: 20px;

}

ul {
    list-style: none;
}

ul li:before {
    content: '✓';
}

/* what-i-do */

.what-i-do {
    margin-top: 100px;

}

.section-title {
    text-align: center;
    margin-bottom: 55px;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}

.Plan-b-container {
    display: flex;
    gap: 80px;
    margin-left: 200px;
    margin-right: 250;
}

.Plan-b-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
}

.Plan-b-sub-title {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 25px;
  }